info:
    serviceLinks:
        metrics: "{metricsHostname}/dashboard/db/openshift-project-spring-actuator-view?var-ds=openshift-{cluster}-ose&var-namespace={namespace}&var-app={name}"
    podLinks:
        metrics: "{metricsHostname}/dashboard/db/openshift-project-spring-actuator-view-instance?var-ds=openshift-{cluster}-ose&var-namespace={namespace}&var-app={name}&var-instance={podName}"

openshift:
    cluster: utv
    url: https://${openshift.cluster}-master.paas.skead.no:8443

spring:
  profiles:
    active: local
  cache:
    caffeine:
      spec: maximumSize=200,expireAfterAccess=300s

boober:
    git:
       checkoutPath: "/tmp/boober"
    docker:
        registry: "docker-registry.aurora.sits.no:5000"
    openshift:
        tokenLocation: /var/run/secrets/kubernetes.io/serviceaccount/token

aurora:
  starter:
    headerfilter:
      enabled: false

logging:
  level:
    no.skatteetaten: INFO
    ske.aurora.filter: INFO
    org:
      jboss: INFO
      hibernate: WARN
      springframework: WARN
      apache:
        catalina: INFO
        velocity: INFO
---
spring:
    profiles: local
    application:
        name: boober

openshift:
    cluster: qa

boober:
  openshift:
    tokenLocation: /opt/boober
  encrypt:
    key: "komogsyngensang"
  git:
    urlPattern: "file:///tmp/boobergit/%s"
    username: "boober"
    password: "password"

management:
    port: 8081

---
spring:
  profiles: openshift
