info:
    serviceLinks:
        metrics: "{metricsHostname}/dashboard/db/openshift-project-spring-actuator-view?var-ds=openshift-{cluster}-ose&var-namespace={namespace}&var-app={name}"
    podLinks:
        metrics: "{metricsHostname}/dashboard/db/openshift-project-spring-actuator-view-instance?var-ds=openshift-{cluster}-ose&var-namespace={namespace}&var-app={name}&var-instance={podName}"

openshift:
    cluster: utv
    port: 8443
    url: https://${openshift.cluster}-master.paas.skead.no:${openshift.port}

spring:
    profiles:
        active: local
    cache:
        caffeine:
            spec: maximumSize=2000,expireAfterWrite=300s
            cache-names: groups, templates

vault:
    git:
        project: av
        checkoutPath: "/tmp/boobervault"
        urlPattern: https://git.aurora.skead.no/scm/${vault.git.project}/%s.git

boober:
    dbh: http://dbh
    bitbucket:
        project: "ac"
        url: "https://git.aurora.skead.no/"
        tags:
            project: "ao"
            repo: "auroradeploymenttags"
    git:
        checkoutPath: "/tmp/boober"
        urlPattern: https://git.aurora.skead.no/scm/${boober.bitbucket.project}/%s.git
    docker:
        registry: "docker-registry.aurora.sits.no:5000"
    openshift:
        tokenLocation: /var/run/secrets/kubernetes.io/serviceaccount/token
    route:
        suffix: ".${openshift.cluster}.paas.skead.no"

aurora:
    token:
        location: /u01/secrets/app/aurora-token/token

    starter:
        headerfilter:
            enabled: false

logging:
    level:
        no.skatteetaten: INFO
        no.skatteetaten.aurora.boober: INFO
        org:
            jboss: WARN
            hibernate: WARN
            springframework: WARN
            apache: WARN
---
spring:
    profiles: local

openshift:
    cluster: utv
    port: 8443
    url: https://${openshift.cluster}-master.paas.skead.no:${openshift.port}

boober:
    dbh: http://dbh-aurora.${openshift.cluster}.paas.skead.no
    http://skap-aurora.${openshift.cluster}.paas.skead.no
    openshift:
        tokenLocation: /opt/boober
    encrypt:
        key: "komogsyngensang"
    bitbucket:
        project: "ac-dev"
    git:
        username: "boober-dev"
        password: "boober-dev"

vault:
    operations:
        enabled: true
    git:
        project: "av-dev"
        username: "boober-dev"
        password: "boober-dev"

aurora:
    token:
        value: token

management:
    port: 8081

---
spring:
    profiles: openshift
