{
  "kind": "RoleBinding",
  "apiVersion": "v1",
  "metadata": {
    "name": "admin"
  }
#if (${aac.permissions.admin.groups.size()} != 0)
,"groupNames": [
  #foreach ($group in $aac.permissions.admin.groups)
    #if($velocityCount != 1)
      ,
    #end
    "${group}"
  #end
]
#end

#if (${aac.permissions.admin.users.size()} != 0)
,"userNames": [
  #foreach ($user in $aac.permissions.admin.users)
    #if($velocityCount != 1)
      ,
    #end
    "${user}"
  #end
]
#end

#if (${aac.permissions.admin.rolebindings.size()} != 0)
,"subjects": [
  #foreach ($binding in $aac.permissions.admin.rolebindings.entrySet())
    #if($velocityCount != 1)
      ,
    #end
  {
    "kind": "$binding.value",
    "name": "$binding.key"
  }
  #end
]
#end

, "roleRef": {
"name": "admin"
}
}
