{
  "kind": "BuildConfig",
  "apiVersion": "v1",
  "metadata": {
    "name": "${app.name}",
    "labels": {
      "app": "${app.name}",
      "updatedBy": "${app.username}",
      "affiliation": "${app.affiliation}"
    }
  },
  "spec": {
    "triggers": [
      {
        "type": "ImageChange",
        "imageChange": {
          "from": {
            "kind": "ImageStreamTag",
            "namespace": "openshift",
            "name": "${docker.base.name}:${docker.base.version}"
          }
        }
      },
      {
        "type": "ImageChange",
        "imageChange": {}
      }
    ],
    "strategy": {
      "type": "Custom",
      "customStrategy": {
        "from": {
          "kind": "ImageStreamTag",
          "namespace": "openshift",
          "name": "${docker.builder.name}:${docker.builder.version}"
        },
        "env": [
          {
            "name": "ARTIFACT_ID",
            "value": "${docker.name}"
          },
          {
            "name": "GROUP_ID",
            "value": "${docker.group}"
          },
          {
            "name": "VERSION",
            "value": "${docker.version}"
          },
          {
            "name": "DOCKER_BASE_VERSION",
            "value": "${docker.builder.version}"
          },
          {
            "name": "DOCKER_BASE_IMAGE",
            "value": "aurora/${docker.builder.name}"
          },
          {
            "name": "PUSH_EXTRA_TAGS",
            "value": "${docker.extratags}"
          }
        ],
        "exposeDockerSocket": true
      }
    },
    "output": {
      "to": {
        "kind": "ImageStreamTag",
        "name": "${app.name}:latest"
      }
    }
  }
}