{
  "kind": "BuildConfig",
  "apiVersion": "v1",
  "metadata": {
    "name": "${adc.name}",
    "labels": {
      "app": "${adc.name}",
      "updatedBy": "${username}",
      "affiliation": "${adc.affiliation}"
    }
  },
  "spec": {
    "triggers": [
      {
        "type": "ImageChange",
        "imageChange": {
          "from": {
            "kind": "ImageStreamTag",
            "namespace": "openshift",
            "name": "${base.name}:${base.version}"
          }
        }
      },
      {
        "type": "ImageChange",
        "imageChange": {}
      }
    ],
    "strategy": {
      "type": "Custom",
      "customStrategy": {
        "from": {
          "kind": "ImageStreamTag",
          "namespace": "openshift",
          "name": "${builder.name}:${builder.version}"
        },
        "env": [
          {
            "name": "ARTIFACT_ID",
            "value": "${adc.artifactId}"
          },
          {
            "name": "GROUP_ID",
            "value": "${adc.groupId}"
          },
          {
            "name": "VERSION",
            "value": "${adc.version}"
          },
          {
            "name": "DOCKER_BASE_VERSION",
            "value": "${base.version}"
          },
          {
            "name": "DOCKER_BASE_IMAGE",
            "value": "aurora/${base.name}"
          },
          {
            "name": "PUSH_EXTRA_TAGS",
            "value": "${adc.deployDescriptor.extratags}"
          }
        ],
        "exposeDockerSocket": true
      }
    },
    "output": {
      "to": {
        "kind": "ImageStreamTag",
        "name": "${adc.name}:latest"
      }
    }
  }
}