{
  "kind": "ConfigMap",
  "apiVersion": "v1",
  "metadata": {
    "name": "${adc.name}",
    "labels": {
      "app": "${adc.name}",
      "updatedBy" : "${username}",
      "affiliation": "${adc.affiliation}",
      "booberDeployId": "${deployId}"
    }
  }
#if (${configs})
,"data": {
  #foreach ($config  in $configs.entrySet())
    #if($velocityCount != 1)
      ,
    #end
    "${config.key}": "${config.value}"
  #end
}
#end
}
