{
  "kind": "ConfigMap",
  "apiVersion": "v1",
  "metadata": {
    "name": "${aac.name}",
    "labels": {
      "app": "${aac.name}",
      "updatedBy" : "${username}",
      "affiliation": "${aac.affiliation}",
      "booberDeployId": "${deployId}"
    }
  },
"data": {
  #foreach ($config  in $aac.volume.config.entrySet())
    #if($velocityCount != 1)
      ,
    #end
    "${config.key}": "${config.value}"
  #end
}
}
