{
  "kind": "DeploymentConfig",
  "apiVersion": "v1",
  "metadata": {
    "annotations": {
      "marjory.skatteetaten.no/management-path": "${dc.managementPath}",
      "marjory.skatteetaten.no/alarm": "${dc.alarm}",
      "sprocket.sits.no/deployment-appConfig.certificate": "${dc.certificateCn}",
      "sprocket.sits.no/deployment-appConfig.database": "${dc.database}"
    },
    "labels": {
      "app": "${app.name}",
      "updatedBy" : "${app.username}",
      "affiliation": "${app.affiliation}"
    },
    "name": "${app.name}"
  },
  "spec": {
    "strategy": {
      "type": "Recreate",
      "resources": {}
    },
    "triggers": [
          {
            "type": "ImageChange",
            "imageChangeParams": {
              "automatic": true,
              "containerNames": [
                "${app.name}"
              ],
              "from": {
                "name": "${app.name}:${docker.istag}",
                "kind": "ImageStreamTag"
              }
            }
          }
    ],
    "replicas": ${app.replicas},
    "selector": {
      "name": "${app.name}"
    },
    "template": {
      "metadata": {
        "labels": {
          "name": "${app.name}",
          "updatedBy" : "${app.username}",
          "affiliation": "${app.affiliation}"
        }
      },
      "spec": {
        "volumes": [
          {
            "name": "application-log-volume",
            "emptyDir": {}
          },
          {
            "name": "appConfig",
            "configMap": {
              "name": "${app.name}"
            }
          }
        ],
        "containers": [
          {
            "name": "${app.name}",
            "ports": [
              {
                "containerPort": 8080,
                "protocol": "TCP",
                "name": "http"
              },
              {
                "containerPort": 8081,
                "protocol": "TCP",
                "name": "management"
              },
              {
                "containerPort": 8778,
                "name": "jolokia"
              }
            ],
            "env": [
              {
                "name": "SPLUNK_INDEX",
                "value": "${app.splunk}"
              },
              {
                "name": "POD_NAME",
                "valueFrom": {
                  "fieldRef": {
                    "apiVersion": "v1",
                    "fieldPath": "metadata.name"
                  }
                }
              },
              {
                "name": "POD_NAMESPACE",
                "valueFrom": {
                  "fieldRef": {
                    "apiVersion": "v1",
                    "fieldPath": "metadata.namespace"
                  }
                }
              },
              {
                "name": "HTTP_PORT",
                "value": "8080"
              },
              {
                "name": "MANAGEMENT_HTTP_PORT",
                "value": "8081"
              },
              {
                "name": "APP_NAME",
                "value": "${app.name}"
              }
              #if (${dc.debug})
              ,
                {
                  "name": "REMOTE_DEBUG",
                  "value": "true"
                },
                {
                  "name": "DEBUG_PORT",
                  "value": "5005"
                }
              #end

              #if (${app.route})
                  ,{
                    "name": "ROUTE_NAME",
                    "value": "${app.routeName}"
                  }
                #end
            ],
            "resources": {
              "limits": {
                "cpu": "2000m",
                "memory": "${resources.limits.memory}"
              },
              "requests": {
                "cpu": "${resources.request.cpu}",
                "memory": "128Mi"
              }
            },
            "volumeMounts": [
              {
                "name": "application-log-volume",
                "mountPath": "/u01/logs"
              },
              {
                "name": "appConfig",
                "mountPath": "/u01/appConfig/configmap"
              }
            ],
            "terminationMessagePath": "/dev/termination-log",
            "imagePullPolicy": "IfNotPresent",
            "capabilities": {},
            "securityContext": {
              "capabilities": {},
              "privileged": false
            },
            "livenessProbe": {
              "exec": {
                "command": [
                  "/u01/application/bin/liveness.sh"
                ]
              },
              "initialDelaySeconds": 10,
              "timeoutSeconds": 1
            },
            "readinessProbe": {
              "exec": {
                "command": [
                  "/u01/application/bin/readiness.sh"
                ]
              },
              "initialDelaySeconds": 10,
              "timeoutSeconds": 1
            }

          }
        ],
        "restartPolicy": "Always",
        "dnsPolicy": "ClusterFirst"
      }
    }
  }
}
