{
  "kind": "ImageStream",
  "apiVersion": "v1",
  "metadata": {
    "name": "${aac.name}",
    "labels": {
      "app": "${aac.name}",
      "updatedBy": "${username}",
      "affiliation": "${aac.affiliation}",
      "releasedVersion": "${aac.deploy.version}",
      "booberDeployId": "${deployId}"

    }
  }
    #if (${aac.type} == "deploy")
    ,
      "spec": {
        "dockerImageRepository": "${dockerRegistry}/${aac.deploy.dockerGroup}/${aac.deploy.dockerName}",
        "tags": [
          {
            "name": "default",
              "from": {
                "kind": "DockerImage",
                #if ("$!{aac.deploy.releaseTo}" != "")
                  "name": "${dockerRegistry}/${aac.deploy.dockerGroup}/${aac.deploy.dockerName}:${aac.deploy.releaseTo}"
                #else
                  "name": "${dockerRegistry}/${aac.deploy.dockerGroup}/${aac.deploy.dockerName}:${aac.deploy.version}"
                #end
              },
              "importPolicy": {
                "scheduled": true
              }
          }
        ]
      }
    #end
}
