{
  "kind": "ImageStream",
  "apiVersion": "v1",
  "metadata": {
    "name": "${name}",
  "labels": {
      #foreach ($label  in $labels.entrySet())
          #if($velocityCount != 1)
            ,
          #end
        "${label.key}": "${label.value}"
      #end
    }
  }
#if (${type} == "deploy")
    ,
      "spec": {
      "dockerImageRepository": "${deploy.dockerImagePath}",
        "tags": [
          {
            "name": "default",
              "from": {
                "kind": "DockerImage",
"name": "${deploy.dockerImagePath}:${deploy.dockerTag}"

              },
              "importPolicy": {
                "scheduled": true
              }
          }
        ]
      }
    #end
}
