{
  "kind": "ImageStream",
  "apiVersion": "v1",
  "metadata": {
    "name": "${aac.name}",
    "labels": {
      "app": "${aac.name}",
      "updatedBy": "${username}",
      "affiliation": "${aac.affiliation}",
      "releasedVersion": "${aac.deploy.version}",
      "booberDeployId": "${deployId}"

    }
  }
    #if (${aac.type} == "deploy")
    ,
      "spec": {
        "dockerImageRepository": "${aac.deploy.dockerImagePath}",
        "tags": [
          {
            "name": "default",
              "from": {
                "kind": "DockerImage",
                "name": "${aac.deploy.dockerImagePath}:${aac.deploy.dockerTag}"

              },
              "importPolicy": {
                "scheduled": true
              }
          }
        ]
      }
    #end
}
