{
  "apiVersion": "v1",
  "kind": "RoleBinding",
  "groupNames": [
    "system:serviceaccounts:${namespace}"
  ],
  "metadata": {
    "name": "system:image-pullers"
  },
  "roleRef": {
    "name": "system:image-puller"
  },
  "subjects": [
    {
      "kind": "SystemGroup",
      "name": "system:serviceaccounts:${namespace}"
    }
  ]
}