{
  "kind": "BuildConfig",
  "apiVersion": "v1",
  "metadata": {
    "name": "${buildName}-test",
  "labels": {
      #foreach ($label  in $labels.entrySet())
          #if($velocityCount != 1)
            ,
          #end
        "${label.key}": "${label.value}"
      #end
  }
},
"specInternal": {
"triggers": [
{
"type": "ImageChange",
"imageChange": {
"from": {
"kind": "ImageStreamTag",
"namespace": "openshift",
"name": "${build.baseName}:${build.baseVersion}"
}
}
},
{
"type": "ImageChange",
"imageChange": {
}
}
],
"source": {
"git": {
"uri": "${build.testGitUrl}",
"ref": "${build.testTag}"
}
},
"strategy": {
"jenkinsPipelineStrategy": {
"jenkinsfilePath": "Jenkinsfile"
}
}
}
}