{
  "kind": "${mount.type.name()}",
  "apiVersion": "v1",
  "metadata": {
    "name": "${aac.name}-${mount.volumeName}",
    "labels": {
      "app": "${aac.name}",
      "updatedBy": "${username}",
      "affiliation": "${aac.affiliation}",
      "booberDeployId": "${deployId}"
    }
  }
#if (${mount.content})
,"data": {
  #foreach ($config  in $mount.content.entrySet())
    #if($velocityCount != 1)
      ,
    #end
    "${config.key}": "${config.value}"
  #end
}
#end
}
