{
  "kind": "Project",
  "apiVersion": "v1",
  "metadata": {
    "name": "${adc.namespace}",
    "labels": {
      "updatedBy": "${username}",
      "affiliation": "${adc.affiliation}",
      "openshift.io/requester": "${username}"
    }
  }
}