{
  "kind": "RoleBinding",
  "apiVersion": "v1",
  "metadata": {
    "name": "$name"
  }
#if (${permission.groups.size()} != 0)
,"groupNames": [
  #foreach ($group in $permission.groups)
    #if($velocityCount != 1)
      ,
    #end
    "${group}"
  #end
]
#end

#if (${permission.users.size()} != 0)
,"userNames": [
  #foreach ($user in $permission.users)
    #if($velocityCount != 1)
      ,
    #end
    "${user}"
  #end
]
#end

#if (${permission.rolebindings.size()} != 0)
,"subjects": [
  #foreach ($binding in $permission.rolebindings.entrySet())
    #if($velocityCount != 1)
      ,
    #end
  {
    "kind": "$binding.value",
    "name": "$binding.key"
  }
  #end
]
#end

, "roleRef": {
"name": "$name"
}
}
