{
  "kind": "Route",
  "apiVersion": "v1",
  "metadata": {
  "name": "${route.name}",
  "labels": {
      #foreach ($label  in $labels.entrySet())
          #if($velocityCount != 1)
            ,
          #end
        "${label.key}": "${label.value}"
      #end
  }
#if (${route.annotations} && ${route.annotations.size()} != 0)
  ,"annotations": {
    #foreach ($annotation  in $route.annotations.entrySet())
      #if($velocityCount != 1)
        ,
      #end
      "${annotation.key.replace("|", "/")}": "${annotation.value}"
    #end
  }
  #end
  },
  "spec": {
    "to": {
      "kind": "Service",
"name": "${name}"
    }
#if (${host})
, "host": "${host}"
#end
#if (${route.path})
, "path": "${route.path}"
#end
  }
}
