{
  "kind": "Route",
  "apiVersion": "v1",
  "metadata": {
    "name": "${app.name}",
    "labels": {
      "app": "${app.name}",
      "updatedBy" : "${app.username}",
      "affiliation": "${app.affiliation}"
    }
  },
  "spec": {
    "to": {
      "kind": "Service",
      "name": "${app.name}"
    }
  }
}
