{
  "kind": "Secret",
  "apiVersion": "v1",
  "metadata": {
    "name": "${aac.name}",
    "labels": {
      "app": "${aac.name}",
      "updatedBy": "${username}",
      "affiliation": "${aac.affiliation}",
      "booberDeployId": "${deployId}"
    }
  }
#if (${aac.dc.secrets})
,"data": {
  #foreach ($secret  in $aac.dc.secrets.entrySet())
    #if($velocityCount != 1)
      ,
    #end
    "${secret.key}": "${secret.value}"
  #end
}
#end
}
