{
  "kind": "Secret",
  "apiVersion": "v1",
  "type": "Opaque",
  "metadata": {
    "labels": {
      "affiliation": "paas",
      "createdBy": "sprocket"
    },
    "name": "${deploymentSpec.name}-${dbhSchema.name}-db"
  },
  "data": {
    "db.properties": "IwojTW9uIFNlcCAxOCAxNjowMjozNSBDRVNUIDIwMTcKamRiYy51cmw9amRiY1w6b3JhY2xlXDp0aGluXDpAdWlsMG1hcC1kcml2ZWluLWRiMDJcOjE1MjEvZGJob3RlbApqZGJjLnVzZXI9Q1RUQUFGQlVJU0hLVVVaUElaUUVCTU5aTUNVTVRNCmpkYmMucGFzc3dvcmQ9Q1dUUktsb3RQdWhOZFlCc2xYaE9qTUdjY29BQnJ6Cg==",
    "id": "OWY2OWY3OWItNjQyNS00ZDAxLTg5MjUtN2QzZTBjNzFiOTA4",
    "info": "eyJkYXRhYmFzZSI6eyJpZCI6IjlmNjlmNzliLTY0MjUtNGQwMS04OTI1LTdkM2UwYzcxYjkwOCIsIm5hbWUiOiJDVFRBQUZCVUlTSEtVVVpQSVpRRUJNTlpNQ1VNVE0iLCJjcmVhdGVkRGF0ZSI6MTUwNTc0MzM1NTAwMCwibGFzdFVzZWREYXRlIjpudWxsLCJob3N0IjoidWlsMG1hcC1kcml2ZWluLWRiMDIiLCJwb3J0IjoxNTIxLCJzZXJ2aWNlIjoiZGJob3RlbCIsImpkYmNVcmwiOiJqZGJjOm9yYWNsZTp0aGluOkB1aWwwbWFwLWRyaXZlaW4tZGIwMjoxNTIxL2RiaG90ZWwiLCJ1c2VycyI6W3sidXNlcm5hbWUiOiJDVFRBQUZCVUlTSEtVVVpQSVpRRUJNTlpNQ1VNVE0iLCJ0eXBlIjoiU0NIRU1BIiwicGFzc3dvcmQiOiJDV1RSS2xvdFB1aE5kWUJzbFhoT2pNR2Njb0FCcnoifV0sImxhYmVscyI6eyJuYW1lIjoicmVmZXJhbnNlYXBwIiwiZW52aXJvbm1lbnQiOiJwYWFzLWJhcy1kZXYiLCJhcHBsaWNhdGlvbiI6InJlZmVyYW5zZSIsImFmZmlsaWF0aW9uIjoicGFhcyIsInVzZXJJZCI6Ims3NzMxOSJ9fX0=",
    "jdbcurl": "amRiYzpvcmFjbGU6dGhpbjpAdWlsMG1hcC1kcml2ZWluLWRiMDI6MTUyMS9kYmhvdGVs",
    "name": "Q1RUQUFGQlVJU0hLVVVaUElaUUVCTU5aTUNVTVRN"
  }
}
