{
  "kind": "Secret",
  "apiVersion": "v1",
  "type": "Opaque",
  "metadata": {
    "labels": {
      "affiliation": "${dbhSchema.affiliation}"
    },
    "name": "${deploymentSpec.name}-${dbhSchema.name}-db"
  },
  "data": {
    "db.properties": "${base64.encode(${connectionProperties})}",
    "id": "${base64.encode(${dbhSchema.id})}",
    "info": "${base64.encode(${responseText})}",
    "jdbcurl": "${base64.encode(${dbhSchema.jdbcUrl})}",
    "name": "${base64.encode(${dbhSchema.username})}"
  }
}
