{
  "kind": "Service",
  "apiVersion": "v1",
  "metadata": {
    "name": "${adc.name}",
    "annotations": {
      "sprocket.sits.no/service.webseal": "${dd.deploy.websealRoute}",
      "sprocket.sits.no/service.webseal-roles": "${dd.deploy.websealRoles}",
      "prometheus.io/scheme": "http",
      "prometheus.io/scrape": "${dd.deploy.prometheus}",
      "prometheus.io/path": "${dd.deploy.prometheusPath}",
      "prometheus.io/port": "${dd.deploy.prometheusPort}"

    },
    "labels": {
      "app": "${adc.name}",
      "updatedBy" : "${username}",
      "affiliation": "${adc.affiliation}"
    }
  },
  "spec": {
    "ports": [
      {
        "name": "http",
        "protocol": "TCP",
        "port": 80,
        "targetPort": 8080,
        "nodePort": 0
      }
    ],
    "selector": {
      "name": "${adc.name}"
    },
    "type": "ClusterIP",
    "sessionAffinity": "None"
  }
}
