{
  "kind": "Service",
  "apiVersion": "v1",
  "metadata": {
    "name": "${aac.name}",
    "annotations": {
      #if(${aac.deploy.webseal})
        "sprocket.sits.no/service.webseal": "${aac.deploy.webseal.host}",
        #if(${aac.deploy.webseal.roles})
          "sprocket.sits.no/service.webseal-roles": "${aac.deploy.webseal.roles}",
        #end
      #end
      #if(${aac.deploy.prometheus} && "$!{aac.deploy.prometheus.path}" != "" )
        "prometheus.io/scheme": "http",
        "prometheus.io/scrape": "true",
        "prometheus.io/path": "${aac.deploy.prometheus.path}",
        "prometheus.io/port": "$aac.deploy.prometheus.port"
      #else
        "prometheus.io/scrape": "false"
      #end
    },
    "labels": {
      "app": "${aac.name}",
      "updatedBy": "${username}",
      "affiliation": "${aac.affiliation}",
      "booberDeployId": "${deployId}"
    }
  },
  "spec": {
    "ports": [
      {
        "name": "http",
        "protocol": "TCP",
        "port": 80,
        "targetPort": 8080,
        "nodePort": 0
      }
    ],
    "selector": {
      "name": "${aac.name}"
    },
    "type": "ClusterIP",
    "sessionAffinity": "None"
  }
}
