{
  "kind": "Service",
  "apiVersion": "v1",
  "metadata": {
    "name": "${name}",
  "annotations": {
    #foreach ($annotation  in $annotations.entrySet())
      #if($velocityCount != 1)
        ,
      #end
      "${annotation.key}": "${annotation.value}"
    #end
  },
"labels": {
  #foreach ($label  in $labels.entrySet())
    #if($velocityCount != 1)
      ,
    #end
    "${label.key}": "${label.value}"
  #end
}
},
"spec": {
"ports": [
{
"name": "http",
"protocol": "TCP",
"port": 80,
"targetPort": 8080,
"nodePort": 0
}
],
"selector": {
"name": "${name}"
},
"type": "ClusterIP",
"sessionAffinity": "None"
}
}
